body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search-bar button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.user-cart a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.banner {

}

.banner h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.banner button {
  padding: 10px 20px;
  background-color: #e67e22;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}


}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.category-grid,
.product-grid,
.blog-posts {
  display: flex;
  justify-content: center;
  gap: 20px;
}



.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

footer {
  background-color: green;
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 10px;
}

/* LAVISH */
.top-head {
  background-color: rgb(158, 232, 158);
}

.img1 {
  margin: 50px 50px;
}

.headings {
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 10em;
  color: white;
  float: right;
  font-size: 45px;
  margin-top: 70px;
}

.modify {
  margin: 50px 50px;
}

.para {
  color: black;
  font-family: sans-serif;
  font-size: 25px;
}


/* Lakshay */
.page1{
    height: 100%;
    width: 100%;
   display: flex;
   position: absolute;
   margin: 20px;
   justify-content: space-around;
   border-radius: 10px;
   /* padding: 20px; */
}
.pest{
    font-size: 5em;
    margin: 50px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    display: table;
    background-color: #00AC7C;
    border-radius: 20px;
}
